html {
    font-family: 'Quicksand', sans-serif; /*this is the font for the whole site*/
}
.container{
    display: grid;
    grid-template-areas:
    'header header header';
    grid-template-columns:1fr 1fr 1fr;
    
}

.content{
    display: grid;
    grid-template-areas:
        '. article .';
    grid-template-columns:1fr 1fr 1fr;
}
header {
    grid-area: header;
    text-align: center;
    font-size: 60px;
    padding: 10px, 0px;
    margin-bottom: 0;
}
article{
    grid-area: article;

}
h2 {
    font-size: 30px;
    text-align: center;
}
h3 {
    font-size: 25px;
    text-align: left;
}
p {
    font-size: 20px;
    text-align: justify;
    line-height: 2;

}
a{
    color:black;
    outline: none;
    text-decoration: none;
}
.download{
    color: blue;
}
.download:hover{
    color: black;
}
nav.menu{
    display: flex;
    position: sticky;
    top: 0px;
}

#one{
    text-align:center;
    flex-grow:1;
}
a#one:link, a#one:visited, a#one:focus{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
a#one:hover{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}
#two{
    flex-grow: 1;
    text-align: center;
}
a#two:link, a#two:visited, a#two:focus{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
a#two:hover{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}
#three{
    flex-grow: 1;
    text-align: center;
}
a#three:link, a#three:visited, a#three:focus{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
a#three:hover{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}
#four{
    flex-grow: 1;
    text-align: center;

}
a#four:link, a#four:visited, a#four:focus{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
a#four:hover{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}
#five{
    flex-grow: 1;
    text-align: center;
}
a#five:link, a#five:visited, a#five:focus{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
a#five:hover{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

img {
    border-width: 1px 1px 1px 1px;
    border-radius: 10px;
    max-width: 100vh;
}
