html {
    font-family: 'Quicksand', sans-serif; /*this is the font for the whole site*/
}
h1 {
    font-size: 60px;
    text-align: left;
    padding: 10px, 0px;
    margin-bottom: 0;
}
h2 {
    font-size: 30px;
    text-align: left;
}
h3 {
    font-size: 25px;
    text-align: left;
}
p {
    font-size: 15px;
    text-align: justify;
}
img {
    border: solid;
    border-radius: 30px;
}