html {
    font-family: 'Quicksand', sans-serif; /*this is the font for the whole site*/
}
.background{
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(4,3,15);
    background: linear-gradient(27deg, rgba(4,3,15,1) 0%, rgba(24,86,227,1) 49%, rgba(153,233,217,1) 100%);
}
.logo{
    z-index: -1;
    position: absolute;
    width: 200px;
    height: 200px;
}
/*menu*/
.ham.hidden {
    display: none;
}
.ham {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    outline:none;
}

.cross.hidden {
    display: none;
}
.cross {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
    outline:none;
    animation-name: fadeIn;
    animation-duration: 0.50s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.container{
    display:none;
}
.container.hidden {
    display: grid;
    list-style: none;
    position: absolute;
    top: 5px;
    gap: 30px;
    animation-name: fadeInLeft;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

}
.container.show{
    display: grid;
    list-style: none;
    position: absolute;
    top: 5px;
    gap: 30px;
    animation-name: fadeInRight;
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
} 
       a.menu{
            text-align:center;
            color:black;
            outline: none;
            text-decoration: none;
        }
        nav a:link, nav a:visited, nav a:focus{
            padding: 10px;
            border-radius: 10px;
            background: white;
        }
        nav a:hover{
            background: grey;
            border-radius: 10px;
            padding: 10px;
            color: white;
            font-weight: bold;
        }

    /*page histoire, chaque <article> est un block naturellement*/
    article#who{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 30px;
        text-align: center;
    }
    article#printing{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 30px;
        text-align: center;
    }
    article#electronics{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 30px;
        text-align: center;
    }
    article#programming{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 30px;
        text-align: center;
    }
    p.story {
        font-size: 20px;
        text-align: justify;
        line-height: 2;
    }

/*page des travel*/
    .backgroundTravel{
        z-index: -1;
        position: absolute;
        }
    div.travels#articles {
        display: flex;
        flex-flow: wrap;
        }
        a.travels#thailand {
            margin: 50px;
            padding: 10px;
            box-shadow: 10px 10px 9px 0px rgba(128,121,128,0.6);
            border-radius: 15px;
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#cabin {
            margin: 50px;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 10px 10px 9px 0px rgba(128,121,128,0.6);
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#louisiana {
            margin: 50px;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 10px 10px 9px 0px rgba(128,121,128,0.6);
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#newyork {
            margin: 50px;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 10px 10px 9px 0px rgba(128,121,128,0.6);
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#thailand:hover {
            padding: 10px;
            border-radius: 15px;
            box-shadow: inset 5px 5px 2px 0px rgba(128,121,128,0.6);
            margin: 50px;
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#cabin:hover {
            padding: 10px;
            border-radius: 15px;
            box-shadow: inset 5px 5px 2px 0px rgba(128,121,128,0.6);
            margin: 50px;
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#louisiana:hover {
            padding: 10px;
            border-radius: 15px;
            box-shadow: inset 5px 5px 2px 0px rgba(128,121,128,0.6);
            margin: 50px;
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        a.travels#newyork:hover {
            padding: 10px;
            border-radius: 15px;
            box-shadow: inset 5px 5px 2px 0px rgba(128,121,128,0.6);
            margin: 50px;
            border: 1px solid;
            border-color: rgba(255,255,255);
        }
        p.travels {
            font-size: 15px;
            text-align: center;
            line-height: 2;
        }
        a.travels {
        text-align:center;
        flex-grow: 1;
        color:black;
        outline: none;
        text-decoration: none;
        }
    /*page galerie*/
    .vignette{
    display: block;
    }   
        .imageSmall{
            margin: 20px;
            border-radius: 20px;
            align-items: center;
            block-size: 100px;
            box-shadow: 10px 10px 9px 0px rgba(128,121,128,0.6);
            animation-name: fadeInRight;
            animation-duration: 0.30s;
            transition-timing-function: ease-in;
            animation-fill-mode: both;
        }
        .imageSmall:hover{
            margin: 20px;
            border-radius: 20px;
            align-items: center;
            block-size: 100px;
            box-shadow: 0px 0px 0px 0px rgba(128,121,128,0.6);
            animation-name: fadeInRight;
            animation-duration: 0.30s;
            transition-timing-function: ease-in;
            animation-fill-mode: both;
        }
/*zoom sur les photos de la page thailand*/
    .zoomed.hidden {
        display: none;
        }

    .zoomed {
        display: flex;
        justify-content: space-around;
    }
        .image { 
           block-size: 750px;
           border-radius: 20px;
           animation-name: fadeIn;
           animation-duration: 0.30s;
           transition-timing-function: ease-in;
           animation-fill-mode: both;
        }

        .rArrow {
            justify-self:flex-start;
            align-self: center;
        }
        .rArrow:hover {
            box-shadow: inset 2px 2px
        }
        .lArrow {
            justify-self: flex-start;
            align-self: center;
        }
        .lArrow:hover {
            box-shadow: inset 2px 2px
        }
        .close {
            position: absolute;
            top: 5;
            right:10;
        }
        .close:hover {
            box-shadow: inset 2px 2px
        }


/* formulaire de la page contact
form {
    /* Center the form on the page 
    margin: 0 auto;
    width: 400px;
    /* Form outline 
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment 
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font 
    font: 1em sans-serif;
  
    /* Uniform text field size 
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders 
    border: 1px solid #999;
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements 
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels 
    vertical-align: top;
  
    /* Provide space to type some text 
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields 
    padding-left: 90px; /* same size as the label elements 
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields 
    margin-left: .5em;
  }
*/
.title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 60px;
    padding: 100px, 0px;  
    margin-top: 100px;
}
.header{
    justify-self: center;
    font-size: 60px;
    padding: 100px;  
    margin-top: 100px;
}
/*footer{
    display: flex;
    justify-content: center;
}*/

h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
    }
@keyframes fadeInLeft {
    0% {
        opacity: 1;
        transform: none;
    }
    
    100% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    }
